@import "body.css";
@import "lastdiv.css";
@import "table.css";
@import "card.css";
ul li {
    list-style: none;
    display: inline;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

body section {
    background: lightblue;
    padding: 30px;
}

body section:nth-child(2n) {
    background: lightpink;
}

[content] {
    display: flex;
    justify-content: space-around;
}

[center] {
    text-align: center;
}

[flexcenter] {
    display: flex;
    justify-content: space-around;
}

[copyright] {
    font-style: italic;
}

[aboutme] {
    font-style: underline;
    color: darkolivegreen;
}

[aboutmore] {
    color: darkgreen;
}
activesec{
    background:peru;
}