ul li {
    list-style: none;
    display: inline;
    margin-left: 10px;
}

body section {
    background: lightblue;
    padding: 30px;
}

body section:nth-child(2n) {
    background: lightpink;
}

[content] {
    display: flex;
    justify-content: space-around;
}

[center] {
    text-align: center;
}

[activesec] {
    background: darkblue;
    border: solid 2px purple;
}